{
  "live-restore": true,
  "icc": false,
  "userland-proxy": false,
  "storage-driver": "overlay2",
  "log-driver": "json-file",
  "log-opts": {
    "mode": "non-blocking",
    "max-buffer-size": "4m",
    "max-size": "50m"
  }
}
