{
  "live-restore": true,
  "icc": false,
  "userland-proxy": false,
  "storage-driver": "overlay2",
  "max-concurrent-downloads": 8,
  "log-level": "warn",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "10m",
    "max-file": "5"
  }
}
