apiVersion: v1
kind: PersistentVolume
metadata:
  name: default-nvidia-drivers
spec:
  capacity:
    storage: 42Gi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: /usr/local/lib/nvidia/volumes/nvidia_driver/{{ nvidia_version }}
  claimRef:
    namespace: default

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: default-libcuda-so
spec:
  capacity:
    storage: 42Gi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: /usr/lib/x86_64-linux-gnu/libcuda.so.{{ nvidia_version }}
  claimRef:
    namespace: default

