apiVersion: v1
kind: PersistentVolume
metadata:
  name: nvidia-drivers-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
spec:
  capacity:
    storage: 42Gi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: /usr/local/lib/nvidia/volumes/nvidia_driver/{{ nvidia_version }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: libcuda-so-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
spec:
  capacity:
    storage: 42Gi
  accessModes:
    - ReadOnlyMany
  hostPath:
    path: /usr/lib/x86_64-linux-gnu/libcuda.so.{{ nvidia_version }}

