apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nvidia-drivers
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  volumeName: default-nvidia-drivers
  resources:
    requests:
      storage: 42Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: libcuda-so
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  volumeName: default-libcuda-so
  resources:
    requests:
      storage: 42Gi
