
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nvidia-drivers-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
spec:
  accessModes:
    - ReadOnlyMany
  volumeName: nvidia-drivers-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
  resources:
    requests:
      storage: 42Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: libcuda-so-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
spec:
  accessModes:
    - ReadOnlyMany
  volumeName: libcuda-so-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
  resources:
    requests:
      storage: 42Gi
