apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: default-nvidia-drivers-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  volumeName: default-nvidia-drivers-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
  resources:
    requests:
      storage: 42Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: default-libcuda-so-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
  namespace: default
spec:
  accessModes:
    - ReadOnlyMany
  volumeName: default-libcuda-so-{{ nvidia_version | regex_replace('(.*)\.(.*)', '\\1-\\2') }}
  resources:
    requests:
      storage: 42Gi
